body {
  font-family: "Fira Sans", sans-serif;  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

header {
  background: #007BFF;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

li {
  list-style: none;
}

header nav a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}

footer a {
  text-decoration: none;
  color: white;
  top: 100%;
}

main {
  padding: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

#uname,
#psw {
  width: 80%;
  padding: 8px;
  margin-top: 5px;
}

button {
  padding: 10px 20px;
  background: #008CBA;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #005F73;
}

footer {
  background: rgba(0, 0, 0, .5);
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  bottom: 0;
}

.intro {
  display: flex;
  flex-direction: column;
  padding-left: 15%;
  padding-right: 15%;
}

.flightsList div {
  width: 200px;
  height: 250px;
}

.flightsList img {
  width: 180px;
  height: 180px;
}

.flightsList p {
  margin-top: 0;
  margin-bottom: 0;
}

.login-window {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 400px) {
  .flightsList {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 800px) {
  .flightsList {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  footer {
    position: absolute;
  }
}