body {
  background: linear-gradient(0deg, rgba(224,123,63,1) 0%, rgba(228,176,146,1) 0%, rgba(255,244,237,1) 0%, rgba(119,165,222,1) 100%);
  font-family: "Fira Sans", sans-serif;  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  font-weight: 600;
}

main {
  padding: 20px;
  text-align: center;
  height: 70%;
}

nav {
  display: flex;
  justify-content:space-between;
  color: white;
}

button {
  padding: 10px 20px;
  background: #76bed6;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

button:hover {
  background-color: #e99b26;
}

footer {
  color: #153c43;
  text-align: center;
  padding: 10px;
  width: 100%;
  margin-top: auto;
}

input {
  border: none;
  background-color: rgb(225, 223, 223);
  height: 35px;
  border-radius: 35px;
}

li {
  list-style: none;
}

h2 {
  font-size: 30px;
}

nav h1{
  margin-left: 50px;
}

nav ul li {
  display: inline-block;
  float: left;
  font-weight: bold;
}

nav ul {
  overflow: hidden;
  position: static;
  top: 0;
  padding-right: 0;
  padding-left: 50px;
}

header nav a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  /* text-shadow: 1px 1px #153c43; */
}

footer a {
  text-decoration: none;
  color: #153c43;
}

.form-group {
  margin-bottom: 20px;
}

#uname,
#psw {
  width: 80%;
  padding: 8px;
  margin-top: 5px;
}

.intro {
  display: flex;
  flex-direction: column;
  padding-left: 15%;
  padding-right: 15%;
  justify-content: left;
  align-items: center;
}

.section-flight, .contact-section {
  display: flex;
  justify-content: center;
}

.flight-container, .contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 440px;
  width: 440px;
  background-color: white;
  color: black;
  border-radius: 3%;

}

.places-section {
  margin-top: 100px;
  margin-bottom: 100px;
}

#search-flights-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: bold;
  font-size: 18px;
}

.searchFlightsForm div {
  width: 280px;
  height: 330px;
  background-color: white;
  border-radius: 10px;
  color: black;
}

.searchFlightsForm img {
  margin-top: 30px;
  margin-bottom: 10px;
  width: 180px;
  height: 180px;
  border-radius: 20px;
}

.searchFlightsForm p {
  margin-top: 0;
  margin-bottom: 0;
}

/* .contact-container {

} */

.login-window, .signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  height: 300px;
}

.login-window form {
  height: 250px;
  width: 600px;
}

.login-window a, .login-window form a, .intro a, .signup-container a, .search-container a {
  padding: 10px 20px;
  background: #008CBA;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
  width: 100px;
  border-radius: 5px;
}

.flight-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flight-detail-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  color: black;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 50%;
}

.flight-detail-card img {
  width: 400px;
  height: 400px;
  border-radius: 20px;
}

.login {
  display: flex;
  flex-direction: column;
}

.login-chooser {
  display: flex;
  justify-content: center;
}

.login-chooser a {
  text-decoration: none;
  color: black;
  height: 40px;
  width: 200px;
  border-radius: 0px;
  border-width: .5px;
  background-color: white;
  color: black;
  font-size: 20px;
  font-weight:800;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-chooser :first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.login-chooser :last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.login-chooser a:hover {
  transition-duration: 500ms;
  background-color: #005F73;
  color: white;
}

.login-chooser a:nth-child(2):hover {
  background-color: #e07b3f;
}

.login-container{
  padding-top: 50px;
  height: 500px;
}

#psw {
  margin-bottom: 100px;
}

body main h1 {
  font-size: 40px;
}

.home {
  /* background-image: url("../img/wallpaper10.jpg");
  background-size: cover; */
}

.home main h1 {
  font-size: 60px;
  padding-top: 100px;
}

.home main a {
  border-radius: 0;
  background-color: white;
  color: #008CBA;
}

@media (min-width: 400px) {
  .searchFlightsForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .flight-detail-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .flights-list div {
    margin-bottom: 30px
  }
  nav ul li {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 13px;
  }
}

@media (min-width: 800px) {
  .searchFlightsForm {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .flight-detail-card img {
    width: 450px;
    height: 450px;
  }
  .flight-detail-card p {
    font-size: 20px;
  }
  nav ul li {
    margin: 20px;
    font-size: 17px;
  }
}